<div class="row">
    <div class="col-md-4">
        <label class="form-label">Subtotal</label>
        <div class="h5 text-primary" id="subtotal-display">${{ subtotal|floatformat:2 }}</div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Tax</label>
        <div class="h5 text-info" id="tax-display">${{ tax_amount|floatformat:2 }}</div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Total</label>
        <div class="h5 text-success" id="total-display">${{ total|floatformat:2 }}</div>
    </div>
</div> 